<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Accès requis pour enregistrer vos entraînements</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Accès requis pour lire votre fréquence cardiaque, distance et calories afin de suivre précisément vos entraînements.</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
