<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyROX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyROX_watch Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyROX_watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>myROX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>myROX_watch Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>myROX_watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A77F82092DE246A90028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77F82182DE246AB0028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77F82222DE246AB0028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77F82A92DE248CF0028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77F82B52DE248D00028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77F82BF2DE248D00028CE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
